@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('./assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-inter-italic: 'Inter-Italic', system-ui, sans-serif;
  --font-manrope: 'Manrope', system-ui, sans-serif;
  font-family: var(--font-inter);
  --color-primary-lighter: #9db9f6;
  --color-primary-lighter-hover: #89abf4;
  --color-primary-lighter-active: #719af2;
  --color-primary-normal: #2563eb;
  --color-primary-normal-hover: #1f54c8;
  --color-primary-normal-active: #1b48ac;
  --color-primary-dark: #0d2352;
  --color-primary-dark-hover: #09193b;
  --color-primary-dark-active: #040b1a;
  --color-secondary-light: #edeef0;
  --color-secondary-light-hover: #e3e6e9;
  --color-secondary-light-active: #c8cad1;
  --color-secondary-normal: #475569;
  --color-secondary-normal-hover: #404d5f;
  --color-secondary-normal-active: #394454;
  --color-secondary-dark: #35404f;
  --color-secondary-dark-hover: #2b333f;
  --color-secondary-dark-active: #20262f;
  --color-secondary-darker: #191e25;
  --color-tertiary-light: #f4ede6;
  --color-tertiary-light-hover: #eee3d9;
  --color-tertiary-light-active: #dcc6b0;
  --color-tertiary-normal: #814700;
  --color-tertiary-normal-hover: #814000;
  --color-tertiary-normal-active: #723900;
  --color-tertiary-dark: #6b3500;
  --color-tertiary-dark-hover: #562b00;
  --color-tertiary-dark-active: #402000;
  --color-tertiary-darker: #321900;
  --color-neutral-light: #ffffff;
  --color-neutral-light-hover: #fafafa;
  --color-neutral-light-active: #fdfdfe;
  --color-neutral-normal: #f8fafc;
  --color-neutral-normal-hover: #dfe1e3;
  --color-neutral-normal-active: #c6c8ca;
  --color-neutral-dark: #babcbd;
  --color-neutral-dark-hover: #959697;
  --color-neutral-dark-active: #707071;
  --color-neutral-darker: #575858;
}
